<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- tailwind script -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- define my own shades -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            lighter: "#D1CCDB",
            light: "#7F729D",
            primary: "#62567B",
            medium: "#453D57",
            dark: "#3E364E",
            darker: "#363045",
            darkest: "#282433",
          },
        },
      },
    };
  </script>
  <title>Inn Keep</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header class="">
    <div class="text-center">
      <h1>
        <a href="/admin" class="text-dark text-3xl py-4 flex justify justify-center font-bold hover:opacity-30">Inn
          Keep</a>
      </h1>
    </div>
  </header>
</body>

</html>