<%- include('partials/header') -%>
<div class="container">
<form action="/staff/createNewTask/" method="POST">
    
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description">
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location">
      </div>


      <label for="importance">Choose importance:</label>

      <select name="importance" id="importance">
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
      </select>

  <label for="category">Choose category:</label>

  <select name="category" id="category">
    <option value="cleaning">Cleaning</option>
    <option value="electrician">Electrician</option>
    <option value="handyman">Handyman</option>
    <option value="plumber">Plumber</option>
    </select>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/staff" class="col-3 btn btn-primary">Go back</a>

</div> <!-- End div container -->

  <%- include('partials/footer') -%>