<%- include('partials/header') -%>

<section class="h-screen">
  <div class="px-6 h-full text-dark">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image"
        />
      </div>

      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form action="/login" method="POST">
          <div
            class="flex flex-row items-center justify-center lg:justify-start"
          >
            <p class="text-xl mb-0 mr-4 font-bold text-medium pb-3">Sign in:</p>
          </div>

          <!-- Email input -->
          <div class="mb-6">
            <input
              type="email"
              class="form-control block w-full px-4 py-2 text-xl text-primary bg-white bg-clip-padding border border-solid border-primary rounded transition ease-in-out m-0 focus:text-primary focus:bg-white focus:border-dark focus:outline-none"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
              placeholder="Email address"
            />
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl text-primary bg-white bg-clip-padding border border-solid border-primary rounded transition ease-in-out m-0 focus:text-darker focus:bg-white focus:border-dark focus:outline-none"
              id="exampleInputPassword1"
              name="password"
              placeholder="Password"
            />
          </div>

          <div class="text-center lg:text-left">
            <button
              type="submit"
              class="inline-block px-7 py-3 bg-dark text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-primary hover:shadow-lg focus:bg-dark focus:shadow-lg focus:outline-none focus:ring-0 active:bg-darker active:shadow-lg transition duration-150 ease-in-out"
            >
              Login
            </button>
          </div>
        </form>
        <p class="text-sm font-semibold mt-2 pt-1 mb-0">
          Don't have an account?
          <a
            href="/signup"
            class="text-medium hover:text-light focus:text-lighter transition duration-200 ease-in-out"
            >Register</a
          >
        </p>
        <div>
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="text-darker"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="text-lighter"><%= el.msg %></div>
          <% }) %> <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
