<%- include('partials/header') -%> 
<%- include('partials/adminNavbar') -%>

  <div class="flex items-center justify-center min-h-screen bg-lighter w-full">
    <div class="col-span-12">
      <div class="overflow-auto lg:overflow-visible">
        <table class="table text-gray-400 border-separate space-y-6 mx-10 ">
          <thead class="bg-darkest text-lighter">
            <tr>
              <th class="p-3">Name</th>
              <th class="p-3 text-left">Role</th>
              <th class="p-3 text-left">Status</th>
              <!-- <th class="p-3 text-left">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="bg-medium">
              <td class="p-3">
                <div class="flex align-items-center">
                  <div class="ml-3">
                    <div class="text-white ">Appple</div>
                    <div class="text-black ">mail@rgmail.com</div>
                  </div>
                </div>
              </td>
              <td class="p-3">Technology</td>
             
              <td class="p-3">
                <span class="bg-green-400 text-gray-50 rounded-md px-2"
                  >available</span
                >
              </td>
       
            </tr>
            <tr class="bg-primary">
              <td class="p-3">
                <div class="flex align-items-center">
                  <div class="ml-3">
                    <div class="">Realme</div>
                    <div class="text-gray-500">mail@rgmail.com</div>
                  </div>
                </div>
              </td>
              <td class="p-3">Technology</td>
            
              <td class="p-3">
                <span class="bg-red-400 text-gray-50 rounded-md px-2"
                  >no stock</span
                >
              </td>
             
            </tr>
            <tr class="bg-gray-800">
              <td class="p-3">
                <div class="flex align-items-center">
                 
                  <div class="ml-3">
                    <div class="">Samsung</div>
                    <div class="text-gray-500">mail@rgmail.com</div>
                  </div>
                </div>
              </td>
              <td class="p-3">Technology</td>
            
              <td class="p-3">
                <span class="bg-yellow-400 text-gray-50 rounded-md px-2"
                  >start sale</span
                >
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
</div>



<%- include('partials/footer') -%>
